@import "./base.css";
@import "./icon.css";
@import "./rich-content.css";

/* components */
@import "./banner.css";
@import "./cards.css";
@import "./experience.css";
@import "./gallery.css";
@import "./timeline.css";
@import "./list.css";
@import "./profile.css";

/* layouts */
@import "./navbar.css";
@import "./typewriter.css";
@import "./hero.css";
@import "./section.css";
@import "./footer.css";
