@layer components {
  .timeline {
    @apply space-y-0 pl-0 md:pl-4;
  }

  .timeline-item {
    @apply relative pl-7 md:pl-9 pb-5 last:pb-0;
  }

  .timeline-line {
    @apply absolute left-[4.5px] top-[10px] md:top-[16px] bottom-0 w-px bg-slate-200 dark:bg-slate-800 z-0;
  }

  .timeline-dot {
    @apply absolute left-0 top-[5px] md:top-[11px] w-2.5 h-2.5 rounded-full bg-primary-500 dark:bg-primary-600 shadow-sm z-10 transition-all duration-500 group-hover:scale-125;
  }

  .timeline-content {
    @apply flex flex-col gap-1.5;
  }

  .timeline-header {
    @apply flex items-center gap-3;
  }

  .timeline-box {
    @apply p-1 md:p-2;
  }

  .timeline-link {
    @apply inline-flex items-center gap-2 px-4 py-2 bg-slate-50 dark:bg-slate-800 hover:bg-primary-600 dark:hover:bg-primary-600 rounded-2xl text-xs font-bold uppercase tracking-widest text-slate-400 dark:text-slate-500 hover:text-white dark:hover:text-white shadow-sm transition-all active:scale-95;
  }

  .timeline-link-icon {
    @apply text-slate-400 dark:text-slate-500 hover:text-primary-600 dark:hover:text-primary-400 transition-colors;
  }
}
